
/* ホーム画面 */
.main{
  width: 100%;
  // height: calc(100vh - 50px);
  height: 100%;
  background-color: lightgray;
  padding:50px 0;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

.home-top{
  width: 100%;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.6));
  position: relative;
  &__name{
    font-size: 80px;
    position: absolute;
    right: 250px;
    bottom: 0;
  }
}

.studio-list{
  width: 90%;
  // background-color: lightgreen;
  margin: 100px auto;

  &__title{
    font-size: 30px;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    padding-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid;
  }
  &__studios{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    
    &__title{
      font-size: 18px;
    }
    &__studio{
      // background-color: lightblue;
      &--img{
        width: 250px;
        height: 150px;
        border-radius: 3px;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
      }
      &--name{
        display: block;
        font-size: 20px;
      }
      &__area{
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 0;
      }
      &__details{
        font-size: 12px;
        margin-left: 10px;
        font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
        .key{

        }
        .value{
          padding-left: 20px;
        }
      }
    }
  }
}

/**************************************************/
/* スタジオ詳細画面                                 */
/**************************************************/
.studio{
  width: 70%;
  height: 300px;
  // background-color: lightsalmon;
  margin: 50px auto;
  &__name{
    height: 40px;
    font-size: 30px;
    border-bottom: 2px solid;
  }
  &__info{
    display: flex;
    &__img{
      width: 300px;
      margin: 30px 60px 0;
      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.6));
    }
    &__explain{
      margin: 30px;

      &__intro{
        font-size: 16px;
        margin-bottom: 20px;
      }
      &__inst{
        font-size: 12px;
        margin-bottom: 20px;
      }
    }
  }
}

.reserve{
  width: 70%;
  height: 450px;
  // background-color: lightseagreen;
  margin: 50px auto;

  &__title{
    font-size: 30px;
    border-bottom: 2px solid;
    padding-bottom: 10px;
  }

  &__table{
    margin: 20px auto;
    width: 80%;
    
    &--date{
      background-color: mediumaquamarine;
    }
    &--time{
      background-color: mediumaquamarine;
      text-align: right;
      padding-right: 5px;
    }
    &--possible{
      background-color: white;
      text-align: center;
    }
    &--impossible{
      background-color: lightgray;
      text-align: center;
    }
  }
  table{
    border: solid 1px black;
  }
  
  th{
    border: solid 1px black;
  }
  tr{
    border: solid 1px black;
  }
  td{
    border: solid 1px black;
  }
}
