.main
  = @studio.name
  .show
    画像を表示します
  .reserve
    .reserve__title
      予約表
    .reserve__table
      %table
        %tr
          - @week.each do |day|
            %th
              = day
        - @studio_reserves.each do |studio_reserve|
          %tr
            - studio_reserve.each_with_index do |reserve, cnt|
              - if cnt == 0
                %td
                  = reserve.hour
              %td
                - if reserve.reserve_flg == 0
                  = link_to "◎", studio_reserve_path(params[:id], reserve.id)
                - else
                  ×
